div.dalsegno {
  position: relative;
}
.dalsegno-editor {
  font-size: 8px;
  text-align: left;
}
.dalsegno-canvas {
  background-color: #777777;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
.is-hidden {
  display: none;
}
.dalsegno-errorbar {
  position: absolute;
  top: 20;
  left: 520px;
  bottom: 20;
  right: 20;
  background-color: #ff99cc;
  text-align: center;
  font-size: 2em;
}
.dalsegno-console {
  resize: none;
  font-size: 10px;
  background-color: black;
  color: darkgreen;
  font-size: 14px;
  font-family: 'Arial Black';
  border-color: darkgreen;
  -webkit-user-select: text;
  -moz-user-select: text;
  -khtml-user-select: text;
  -ms-user-select: text;
  outline: none;  /* prevent active highlight */
}
.just-select-text {
  -webkit-user-select: text;
  -moz-user-select: text;
  -khtml-user-select: text;
  -ms-user-select: text;
}
.dalsegno-console-active {
  background-color: lightgreen;
}
.dalsegno-console-animate {
  transition: background-color .1s;
}
.errorHighlight{
  position:absolute;
  z-index:20;
  background-color:#F4B9B7;
}
.curSpotHighlight{
  position:absolute;
  z-index:20;
  background-color:#22FF33;
}
