div.dalsegno {
  position: relative;
}
.dalsegno .editor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 630px;
}
.dalsegno canvas {
  position: absolute;
  top: 0;
  left: 630px;
  bottom: 0;
  right: 0;
  background-color: #777777;
}
.is-hidden {
  display: none;
}
.errorbar {
  position: absolute;
  top: 100;
  left: 660px;
  bottom: 100;
  right: 30;
  background-color: #ff99cc;
  text-align: center;
  font-size: 2em;
}
.errorHighlight{
  position:absolute;
  z-index:20;
  background-color:#F4B9B7;
}
