div.dalsegno {
  position: relative;
}
.dalsegno-editor {
  font-size: 8px;
}
.dalsegno-canvas {
  background-color: #777777;
}
.is-hidden {
  display: none;
}
.dalsegno-errorbar {
  position: absolute;
  top: 100;
  left: 660px;
  bottom: 100;
  right: 30;
  background-color: #ff99cc;
  text-align: center;
  font-size: 2em;
}
.dalsegno-console {
  font-size: 10px;
  resize: none;
  background-color: black;
  color: darkgreen;
  font-size: 14px;
  font-family: 'Arial Black';
  border-color: darkgreen;
}
.dalsegno-console-active {
  border-width: 0 10 0 10px;
  background-color: lightgreen;
}
.dalsegno-console-animate {
  transition: border-width 1s;
}
.errorHighlight{
  position:absolute;
  z-index:20;
  background-color:#F4B9B7;
}
