
.dalsegno-embed {
  display: flex;
  flex-direction: row;
}
.dalsegno-embed > .left-panel {
  display: flex;
  flex-direction: column;
}
.dalsegno-embed > .canvas-container > canvas {
  position: absolute;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.dalsegno-embed > .editor {
  width: 400px;
  height: 400px;
}
.dalsegno-embed textarea {
  resize: none;
  background-color: inherit;
  font-size: 14px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -khtml-user-select: text;
  -ms-user-select: text;
  outline: none;  /* prevent active highlight */
}
.dalsegno-embed .dalsegno-console-active {
  background-color: gray !important;
}
.dalsegno-embed .dalsegno-console-animate {
  transition: background-color .2s ease;
}
.dalsegno-embed .errorHighlight{
  position:absolute;
  z-index:20;
  background-color:#F4B9B7;
}
.curSpotHighlight{
  position:absolute;
  z-index:20;
  background-color:#22FF33;
}
.is-hidden {
  display: none;
}
.dalsegno-errorbar {
  background-color: #ff99cc;
  font-size: 1.3em;
  z-index: 10;
}
